language: dart
dart:
  - stable
sudo: required
addons:
  chrome: stable
cache:
  directories:
    - $HOME/.pub-cache
install: true
script:
  # Use normal "pub get" for Dart 2.
  - |
    if [[ $(dart dart_version.dart) = "2" ]]; then
      pub get
    fi
  - pub run dependency_validator --ignore coverage
  - pub run dart_dev dart2-only -- format --check
  - pub run dart_dev analyze
  - pub run dart_dev test -p vm
  - pub run dart_dev test -p chrome --release
  # TODO: re-enable coverage when a Dart 2 solution is available.
  # - pub run dart_dev dart1-only -- coverage --no-html && bash <(curl -s https://codecov.io/bash) -f coverage/coverage.lcov